<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot+WebSocket+广播式</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.1.min.js"></script>
</head>
<body onload="disconnect()">
<noscript><h2 style="color: #ff0000">貌似你的浏览器不支持websocket</h2></noscript>
<div>
    <!--    <div>
            <button id="enter" onclick="enter();">进入群聊</button>
            <button id="esc" disabled="disabled" onclick="disconnect();">退出群聊</button>
        </div>-->
    <div>
        <!--<button id="connect" onclick="connect();">进入群聊</button>-->
        <button id="connect" onclick="connect();">进入群聊</button>
        <button id="disconnect" disabled="disabled" onclick="disconnect();">退出群聊</button>
    </div>
    <div id="conversationDiv">
        <form action="/photos/1148973713/18819776464" method="post" enctype="multipart/form-data" target="rfFrame">
            <input type="file" id="file" name="file">
            <input type="submit" value="提交"/>
            <p>
        </form>
        <iframe id="rfFrame" name="rfFrame" src="about:blank" style="display:none;"></iframe>
        <label>输入你的名字</label><input type="text" id="name"/>
        <button id="sendName" onclick="sendName();">发送</button>
        <p id="response"></p>
        <img id="photos"/>
        <video id="video" controls="controls"/>
    </div>
</div>
<script type="text/javascript">
    var stompClient = null;

    function setConnected(connected) {
        document.getElementById('connect').disabled = connected;
        document.getElementById('disconnect').disabled = !connected;
        document.getElementById('conversationDiv').style.visibility = connected ? 'visible' : 'hidden';
        $('#response').html();
    }

    function connect() {
        // 连接 SockJs 的 endpoint 名称为 "/whaleSocial"
        var url = "ws://127.0.0.1:8500/whaleSocial"
        //var url = "http://127.0.0.1:8500/whaleSocial"
        //var socket = new SockJS(url);
        // 使用 STOMP 子协议的 WebSocket 客户端
        //stompClient = Stomp.over(socket)
        stompClient = Stomp.client(url);

        stompClient.connect({}, function (frame) {
            setConnected(true);
            console.log('Connected: ' + frame);
            //发送消息
            //stompClient.send("/group/status/15363872945/13242366884",{});
            //stompClient.send("/group/status/1148973713/18819776464", {});
            // 通过 stompClient.subscribe 订阅 /member/13242366884 目标发送的信息，对应控制器的 SendTo 定义
            //stompClient.subscribe('/member/1148973713/13242366884', function(respnose)
            stompClient.subscribe('/member/netty/13242366884/1148973713', function (respnose) {
                console.log("This is:" + respnose.body)
                // 展示返回的信息，只要订阅了 /member/13242366884 目标，都可以接收到服务端返回的信息
                showResponse(respnose.body);
            });
        });
    }

    function disconnect() {
        // 断开连接
        if (stompClient != null) {
            stompClient.disconnect();
        }
        setConnected(false);
        console.log("Disconnected");
    }

    function sendName() {
        // 向服务端发送消息
        var name = $('#name').val();
        // 通过 stompClient.send 向 /hello （服务端）发送信息，对应控制器 @MessageMapping 中的定义
        stompClient.send("/member/netty", {'content-type':'application/json'}, JSON.stringify({ 'communicationGroupId': '1148973713','userId':'13242366884','userInformationTime':'','informationSign':'','userInformation':name }));
        //stompClient.send("/group/status/1148973713/13242366884", {}, JSON.stringify({ 'name': name }));
    }

    function showResponse(message) {
        // 接收返回的消息
        var response = $("#response");
        response.html(message);
    }

    function showPhotosResponse(message) {
        $("#photos").attr("src", message)
    }
</script>
</body>
</html>
